@import "./assets/bootstrap/bootstrap.min.css";
:root {
  --swatch_1: #e6eeff;
  --swatch_2: #a1b3d2;
  --swatch_3: #0536ff;
  --swatch_4: #6ea0ff;
  --swatch_5: #7889a4;
  --swatch_6: #2662ff;
  --swatch_7: #324567;
  --swatch_8: #5a719d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--swatch_1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.h1,
h1 {
  font-size: 1.75rem;
}

/* ===================
Helper
====================== */
.separator.separator-dashed {
  border-bottom-style: dashed;
  border-bottom-color: #e4e6ef;
}

.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid #eff2f5;
}

.svg-icon svg {
  height: 1rem;
  width: 1rem;
}

.px-3 {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

/* ===================
    Colors
   =================== */
.bg-primary {
  background-color: var(--swatch_3) !important;
}

.-swatch-7 {
  color: var(--swatch_7);
}

.-swatch-8 {
  color: var(--swatch_8);
}

.btn {
  /* height: 48px; */
  /* border-radius: 6px; */
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .55rem 1.25rem;
  font-size: .925rem;
  border-radius: .475rem;
}

.btn.btn-primary {
  background-color: var(--swatch_3);
  border-color: var(--swatch_3);
}

.btn.btn-primary:hover {
  background-color: var(--swatch_6);
  border-color: var(--swatch_6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn.btn-primary:active {
  background-color: var(--swatch_3);
  border-color: var(--swatch_3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
  background-color: var(--swatch_4);
  border-color: var(--swatch_4);
}
.btn.btn-light .svg-icon svg [fill]:not(.permanent):not(g) {
  transition: fill .3s ease;
  fill: #7e8299;
}

/* =======================
    form controls
 =========================*/
.form-group .form-control {
  border: 0;
  height: 48px;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-shadow: 0 0 0 1px var(--swatch_1);
  box-shadow: 0 0 0 1px var(--swatch_1);
}
.form-group .form-control.textarea {
  height: auto;
}
textarea.no-resize {
  resize: none;
}
.form-group .form-control::placeholder,
.form-group .form-control::-webkit-input-placeholder,
.form-group .form-control::-moz-placeholder,
.form-group .form-control:-ms-input-placeholder {
  color: var(--swatch_2); 
}

.form-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 1px var(--swatch_3);
  box-shadow: 0 0 0 1px var(--swatch_3);
}

/* ====================
    Header
   ====================*/

/* ====================
   sidebar
   ====================*/
.sidebar.sidebar-fixed {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}
.sidebar .sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.15);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
.sidebar-open .sidebar .sidebar-backdrop {
  opacity: 1;
  pointer-events: initial;
}
.sidebar-panel {
  position: absolute;
  top: 0;
  height: 100vh;
  right: 0;
  width: 420px;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.05);
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  z-index: 2;
  transition: transform 0.3s;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}
.sidebar-open .sidebar-panel {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.sidebar-panel-heading {
  -webkit-box-shadow:0 0 4px var(--swatch_3);
  box-shadow:0 0 4px var(--swatch_3);
}
.sidebar-panel-heading .btn-sm {
  color: #fff;
  padding-left: .85rem;
  padding-right: .85rem;
  line-height: normal;
}
.sidebar-panel-heading .btn:hover {
  background-color: var(--swatch_1);
  color: var(--swatch_3);
}
.sidebar-panel-heading .panel-title {
  font-size: 1.3rem;
  color: #fff;
}
.sidebar-panel-content {
  padding: 16px;
  height: calc(100vh - 54px);
  overflow-x: auto;
}
/* ======================
    Challenges
    ========================*/
.challenges .challenge-title {
  font-size: 1.5rem;
}
.page-title .challenge-count {
  font-size: 1.075rem;
}
.challenge {
  background-color: #fff;
  border-radius: .5rem;
}

.challenges .challenge-description {
  font-size: 1rem;
}

.challenges .datetime {
  font-size: .85rem;
}